.infoBox {
  flex: 1;
  cursor: pointer;
}

.infoBox:not(:last-child) {
  margin-right: 15px;
}

.infoBox--selected {
  border-top: 10px solid lightgreen;
}

.infoBox--red {
  border-color: #cc1034;
}

.infoBox__cases {
  color: #cc1034;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.infoBox__total {
  color: #6c757d;
  font-weight: 700 !important;
  font-size: 1rem !important;
  margin-top: 15px impo !important;
}

.infoBox__cases--green {
  color: lightgreen !important;
}

@media (max-width: 990px) {
  .infoBox__cases {
    font-size: 1rem;
  }

  .infoBox__total {
    font-size: 0.8rem !important;
  }

  .infoBox {
    cursor: pointer;
    min-width: 100%;
    display: flex;
    margin-top: 15px;
  }

  .app_stats {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .info-flag {
    height: 50px !important;
    width: 50%!important;
    background-size: cover;
    border-radius: 8px;
    margin-bottom: 10px;
    margin:0 auto
  }

  .info-confirmed,
  .info-recovered,
  .info-deaths {
    font-size: 14px;
    margin-top: 5px;
  }
}
