.table{
    margin-top:20px;
    overflow: scroll;
    height:400px;
    background-color: white;
    color:#6a5d5d;
    overflow-x: hidden;
}

.table tr {
    display: flex;
    justify-content: space-between;
}

.table td {
    padding: 0.5rem;
}

.table tr:nth-of-type(odd){
    background-color: #f3f4f8;
}