*{
  margin:0;
}

.app__logo {
  width: 20%;
  height: auto;
  margin-right: 10px;
}

body{
  background-color:#f5f6fa;
}

.app{
  display:flex;
  justify-content: space-evenly;
  padding:20px
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app__header >h1 {
  color: #fc3c3c;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.app__dropdown {
  background-color: white;
  min-width: 180px !important;
}

.app__left {
  flex:0.9;
}

.app__right {
  display: flex;
  flex-direction: column;
}

.app__right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app_stats{
  display: flex;
  justify-content: space-between;
}

.app__graphTitle{
  margin-top: 20px;
  margin-bottom: 20px;
}

.app__graph {
  flex-grow: 1;
}


@media (max-width:990px){
  .app{
    flex-direction: column;
  }
}